.splash-container {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.splash-logo {
  width: 300px;
  animation: slideOnce 4s ease-in-out forwards;
}

@keyframes slideOnce {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity: 1;
  }
}
